html,
body {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;
    color: $text-color;
}

body { background-color: $white; }

* { box-sizing: border-box; }

a { text-decoration: none; }

:focus {
    outline: 0;
}

p,
h1,
h2,
h3,
td,
th,
blockquote {
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

li {
    margin: 0;
    list-style-type: none;
}

input { 
    -webkit-appearance: none; 
    border-radius: 0; 
}



.b-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.m-italic {
    font-style: italic;
}

.m-display-none {
    display: none;
}

.m-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: red;
    opacity: .3;
    display: none;
    z-index: 10;

    &.m-active {
        display: block;
    }
}
