.b-button {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: $orange;
    cursor: pointer;

    > .material-icons {
        vertical-align: -5px;
        margin-left: 10px;
    }
}

.b-button:hover {
    box-shadow: 0 0 8px $gray-40;
}

.b-button.m-disabled {
    pointer-events: none;
    display: none;

}