.b-footer {
    padding: 30px 20px 60px;
    background-color: $gray;
    color: white;

    @include breakpoint($tablet) { min-height: 740px; }
    @include breakpoint($desktop) { min-height: auto; }

    h2 {
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: $white-10;
    }

    h3 {
        margin-bottom: 20px;
        font-weight: 200;
    }

    p { font-family: $display-font; }

    .e-footer-column {
        padding-right: 20px;
    }

    .e-footer-column.m-sections {
    @include breakpoint($mobile-only) { display: none; }    
    }

    .e-footer-column.m-about {
    @include breakpoint($desktop) { padding-right: 70px; }
    }

    .e-footer-column.m-contact {
        @include breakpoint($desktop) { padding-left: 60px; }
    }

    a,
    span,
    p {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
        color: darken($white, 50);
    }

    a:hover { color: $white; }
}
