.b-footer {
    padding: 30px 20px 60px;
    background-color: $gray;
    color: white;

    h2 {
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: $white-10;
    }

    h3 {
        margin-bottom: 20px;
        font-weight: 200;
    }

    .e-footer-column {
        padding-right: 20px;
    }

    a,
    span,
    p {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
        color: darken($white, 50);
    }

    a:hover { color: $white; }
}
