.b-half,
.b-one-third,
.b-one-quarter {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: top;

    @include breakpoint($mobile-only) {
        display: block;
        width: calc(100vw - 40px) !important;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.b-half { width: 50%; }

.b-one-third { width: 33%; }

.b-one-quarter { width: 25%; }