.b-half,
.b-one-third,
.b-one-quarter {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: top;
}


.b-half { width: 50%; }

.b-one-third { width: 33%; }

.b-one-quarter { width: 25%; }