.b-top-nav {
    padding: 20px;
    // background-color: $blue;
    color: white;
    text-align: center;


    .e-logo {
        font-size: 22px;
        color: white;
        font-weight: 300;
        line-height: 1;
        float: left;
    }

    .e-link {
        padding: 5px 25px;
        margin: 0;
        font-size: 18px;
        color: white;
        font-weight: 300;

        &:hover {
            background-color: $orange;
        }
    }
}

.b-video-bg .b-top-nav {
    background-color: transparent;
}

.b-video-bg {
    position: relative;

    > video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        min-height: 100vh;
        // width: auto;
        // height: auto;
        z-index: -1;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        // background: url(polina.jpg) no-repeat;
        background-size: cover; 
        background-color: $blue;
    }
}

