.b-video-bg .b-top-nav {
    background-color: transparent;
}

.b-video-bg {
    position: relative;
    max-height: 80vh;
    overflow: hidden;

    > video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        height: auto;
        z-index: -1;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
        background-color: $blue;
    }
}

.b-home-section-1 {
    padding: 80px 20px 60px;
    color: white;

    h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
    }

    h2 {
        max-width: 435px;
        margin: 30px auto;
        text-align: center;
        font-weight: 300;
    }

    div {
        text-align: center;
    }

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 30px 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }
}

.b-home-section-2 {
    padding: 30px 20px;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: $teal;
}

.b-overview {
    padding: 70px 20px;
    text-align: center;

    > video { }

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    .b-one-quarter {
        display: inline-block;
        width: 235px;
        margin-bottom: 30px;
        vertical-align: top;
        text-align: center;
    }

    .e-circle {
        display: inline-block;
        height: 180px;
        width: 180px;
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: white;
        color: #2e4187;
        overflow: hidden;
    }

    p {
        margin-top: 20px;
        text-align: center;
        font-size: 19px;
        color: #2c3c85;
    }
}

.b-home-section-4 {
    padding: 30px 20px;
    text-align: center;
    background-color: $teal;

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }
}

.b-about-section {
    padding: 70px 20px;
    // background-color: $white;



    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 50px;
    }

    .b-half {
        display: inline-block;
        width: 49%;
        min-width: 280px;
        vertical-align: top;
        text-align: center;
    }

    p {
        color: $text-color;
        text-align: left;
        font-weight: 100;
        font-size: 18px;
    }
}



.b-home-section-7 {
    padding: 70px 20px;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }
}

.b-home-section-8 {
    padding: 70px 20px;
    background-color: $blue;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: white;
        font-size: 52px;
    }

    ul {
        display: inline-block;
        width: 49%;
        min-width: 280px;
        vertical-align: top;
    }

    li {
        margin-bottom: 5px;
        color: white;
        font-size: 18px;
    }

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 20px 30px 0;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }

    .m-center {
        text-align: center;
    }
}
