.b-home-landing {
    padding-top: 180px;
    padding-bottom: 40px;
    color: white;
    background-color: $blue;
    text-align: center;
    position: relative;
    overflow: hidden;

    @include breakpoint($tablet) { padding-bottom: 80px; }

    .e-video-bg {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        opacity: .6;
        display: none;

        @include breakpoint($desktop) { 
            min-width: 1125px;
            display: block;
        }
    }

    .e-site-title {
        position: relative;
        z-index: 10;
    }

    h1 {
        text-align: center;
        font-size: 70px;
        font-weight: 300;
        line-height: 1;
    }

    .e-tagline {
        // max-width: 535px;
        margin: 30px auto;
        text-align: center;
        font-weight: 300;

        @include breakpoint($mobile-only) { 
            font-size: 18px;  
        
            br { display: none; }
        }
        
    }

    .e-controls {
        > .b-button { 
            @include breakpoint($mobile-only) { 
                width: 90%;
                margin-bottom: 10px;
            }

            @include breakpoint($tablet) { 
                width: 240px; 
                margin: 20px 10px 0;
            }
        }
    }
}