.b-overview {
    padding: 70px 20px;
    text-align: center;

    .e-circle {
        display: inline-block;
        height: 140px;
        width: 140px;
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: white;
        color: #2e4187;
        overflow: hidden;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        @include transition;
        box-shadow: 0 0 2px $gray-05;

        &:hover {
            @include transition;
            transform: scale(1.2);
            box-shadow: 0 0 10px $gray-20;
        }
    }

    p {
        margin-top: 10px;
        text-align: center;
        font-size: 19px;
        color: #2c3c85;
    }

    .b-one-third { margin-bottom: 30px; }


    .m-modules              { background-image: url(../images/icons/modules.png); }
    .m-customizable         { background-image: url(../images/icons/customizable.png); }
    .m-hosting              { background-image: url(../images/icons/cloud.png); }
    .m-branding             { background-image: url(../images/icons/white-label.png); }
    .m-tracking             { background-image: url(../images/icons/tracking.png); }
    .m-support              { background-image: url(../images/icons/support.png); }
    .m-responsive           { background-image: url(../images/icons/responsive.png); }
    .m-accessibility        { 
        background-image: url(../images/icons/accessibility.png); 
        background-position: -3px 8px;
    }

    .m-security { 
        background-image: url(../images/icons/security.png); 
        background-position: 4px 5px;
    }

}

