.b-home-landing {
    padding-top: 120px;
    color: white;
    background-color: $blue;
    text-align: center;

    h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
    }

    .e-tagline {
        max-width: 435px;
        margin: 30px auto;
        text-align: center;
        font-weight: 300;
    }

    .e-controls {
        > .b-button { margin: 20px 20px 0; }
    }
}