.b-home-section-1 {
    padding: 80px 20px 60px;
    background-color: $blue;
    color: white;

    h1 {
        text-align: center;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
    }

    h2 {
        max-width: 435px;
        margin: 30px auto;
        text-align: center;
        font-weight: 300;
    }

    div {
        text-align: center;
    }

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 30px 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }
}

.b-home-section-2 {
    padding: 30px 20px;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: $teal;
}

.b-home-section-3 {
    padding: 70px 20px;
    text-align: center;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    .b-one-quarter {
        display: inline-block;
        width: 235px;
        margin-bottom: 30px;
        vertical-align: top;
        text-align: center;
    }

    .e-circle {
        display: inline-block;
        height: 180px;
        width: 180px;
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: white;
        color: #2e4187;
        overflow: hidden;
    }

    p {
        margin-top: 20px;
        text-align: center;
        font-size: 19px;
        color: #2c3c85;
    }
}

.b-home-section-4 {
    padding: 30px 20px;
    text-align: center;
    background-color: $teal;

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }
}

.b-home-section-5 {
    padding: 70px 20px;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    .b-half {
        display: inline-block;
        width: 49%;
        min-width: 280px;
        vertical-align: top;
        text-align: center;
    }

    p {
        line-height: 25px;
        color: #666;
    }
}

.b-home-section-6 {
    padding: 55px 20px;
    background-color: $teal;
    text-align: center;

    .e-testimonial {
        display: inline-block;
        width: 70%;
        margin: 0 40px;
        font-size: 28px;
        color: white;
        line-height: 35px;
        vertical-align: middle;

        cite {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .e-picture {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 30px 0;
        border: 3px solid white;
        border-radius: 50%;
        vertical-align: middle;
    }

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $blue;
    }

    .m-center {
        text-align: center;
    }
}

.b-home-section-7 {
    padding: 70px 20px;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }
}

.b-home-section-8 {
    padding: 70px 20px;
    background-color: $blue;

    h2 {
        margin-bottom: 70px;
        text-align: center;
        color: white;
        font-size: 52px;
    }

    ul {
        display: inline-block;
        width: 49%;
        min-width: 280px;
        vertical-align: top;
    }

    li {
        margin-bottom: 5px;
        color: white;
        font-size: 18px;
    }

    .e-button {
        display: inline-block;
        padding: 10px 50px;
        margin: 20px 30px 0;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: $orange;
    }

    .m-center {
        text-align: center;
    }
}
