.b-home-landing {
    padding-top: 180px;
    padding-bottom: 40px;
    color: white;
    background-color: $blue;
    text-align: center;

    @include breakpoint($tablet) { padding-bottom: 80px; }

    h1 {
        text-align: center;
        font-size: 70px;
        font-weight: 300;
        line-height: 1;
    }

    .e-tagline {
        // max-width: 535px;
        margin: 30px auto;
        text-align: center;
        font-weight: 300;

        @include breakpoint($mobile-only) { 
            font-size: 18px;  
        
            br { display: none; }
        }
        
    }

    .e-controls {
        > .b-button { 
            @include breakpoint($mobile-only) { 
                width: 90%;
                margin-bottom: 10px;
            }

            @include breakpoint($tablet) { 
                width: 240px; 
                margin: 20px 10px 0;
            }
        }
    }
}