.b-section-divider {
    padding: 30px 20px;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: $teal;

    h2 {
        font-size: 30px;
        font-weight: 200;
    }
}