.b-page-section {
    padding: 40px 20px;
    @include breakpoint($mobile-only) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .e-section-title {
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    .e-section-body { 
        @include breakpoint($mobile-only) {
            margin: 10px 0;
        }
        
        margin: 40px 0; 
    }
}

.b-home-section {
    @extend .b-page-section;

    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 50px;
    }   
}

.b-results-section {
    @extend .b-page-section;
}


