.b-testimonial-section {
    padding: 55px 20px 35px;
    background-color: $teal;
    text-align: center;
    overflow-y: hidden;
    overflow-x: scroll;

    .e-testimonial-list {
        width: auto;
        white-space: nowrap;
        padding: 0;
    }   
    
    .e-testimonial-item {
        margin: 0;
        color: white;
        vertical-align: top;
        width: calc(100vw - 40px);
        padding: 20px;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        margin-right: auto;

        @include breakpoint($touch) { margin: 20px 0; }

        .e-picture {
            @include circle;
            width: 200px;
            height: 200px;
            border: 3px solid white;
            margin: 0 auto;
            vertical-align: middle;
            float: right;
            background-size: cover;

            @include breakpoint($mobile-only) { 
                float: none; 
                margin-bottom: 30px;
            }
            @include breakpoint($tablet) { margin-left: 60px; }
        }

        blockquote {
            text-align: right;
            @include breakpoint($mobile-only) { text-align: left; }
        }

        p {
            font-weight: 100;
            font-size: 21px;
        }

        cite {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 300;
            display: inline-block;
        }

        .e-action {
            margin-top: 20px;
            clear: both;
            text-align: center;

            .b-button { background-color: $blue; }
        }
    }

}

