.b-top-nav {
    padding: 20px;
    background-color: $blue-95;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    

    .e-logo {
        font-size: 22px;
        color: $white;
        font-weight: 300;
        line-height: 1;
        float: left;
        opacity: .5;
        vertical-align: bottom;
        padding: 5px;
    }

    .e-link {
        @extend .b-button;
        padding: 5px 25px;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 1px;
        background-color: transparent;

        &:hover { background-color: $orange; }
    }
}