.b-top-nav {
    padding: 20px;
    background-color: $blue;
    color: white;
    text-align: center;


    .e-logo {
        font-size: 22px;
        color: white;
        font-weight: 300;
        line-height: 1;
        float: left;
    }

    .e-link {
        @extend .b-button;
        padding: 5px 25px;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 1px;
        background-color: transparent;

        &:hover { background-color: $orange; }
    }
}