$blue: #004587;
$gray: #333;
$teal: #00abaf;
$orange: #eb6354;
$white-10: rgba(255,255,255,.1);


@import "base";
@import "header";
@import "footer";

@import "home";
@import "results";
@import "contact";
