$blue: #004587;
$blue-95: rgba(0,69,135,.95);
$gray: rgba(0,0,0,0.8);
$gray-05: rgba(0,0,0,0.05);
$gray-20: rgba(0,0,0,0.2);
$gray-40: rgba(0,0,0,0.4);
$teal: #00abaf;
$orange: #eb6354;
$white: rgba(255,255,255,1);
$white-40: rgba(255,255,255,.4);
$white-10: rgba(255,255,255,.1);

$text-color: #333;


@mixin circle {
    border-radius: 50%;
    overflow: hidden;
}

@mixin transition {
    transition: all 0.4s ease;
}


@import "base";
@import "button";
@import "top-nav";
@import "grid";
@import "footer";
@import "testimonials";
@import "sections";
@import "graph";

@import "home-landing";
@import "section-divider";
@import "home-overview";
@import "home-about";
@import "home-features";
@import "home-cities";

@import "results";
@import "contact";
