<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(../images/testimonials/saskatoon.jpg); background-size: contain; background-repeat: no-repeat; background-position: center center; background-color: white;" alt="City of Saskatoon"></div>
        <p>Notre objectif était de créer un processus de planification budgétaire plus intégré, transparent et responsable. Grâce à diverses initiatives d’engagement public et à l'utilisation de notre consultation en ligne Budget Citoyen, les résidents ont été informés, engagés et introduits dans le processus budgétaire dès le début. Cette précieuse rétroaction publique a ensuite été considérée par le Conseil municipal avant leur débat et l'approbation du budget 2016.</p>
        <cite><strong>- Carla Blumers,</strong> Directeur des Communications, City of Saskatoon</cite>
    </blockquote>
</li>
