<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(./images/testimonials/richard-ryan.jpg)" alt="Richard Ryan"></div>
        <p>Both citizens and elected officials appreciated the outreach and educational aspects of Citizen Budget, to better understand the budget and the difficulties in making decisions to achieve a balanced budget. It is no longer a question of spending hundreds of thousands of dollars over 3 years in order for a small select group to vote on how to spend 1 or 2 million dollars.</p>
        <cite><strong>- Richard Ryan,</strong>  Councillor, Plateau Mont-Royal</cite>
    </blockquote>
    <div class="e-action">
        <!-- <a href="./results-plateau.html" class="b-button">View Results<i class="material-icons">arrow_forward</i></a>     -->
    </div>
</li>