<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(../images/testimonials/richard-ryan.jpg)" alt="Richard Ryan"></div>
        <p>Grâce à cet outil en ligne unique, les citoyens ont pu participer à un exercice éducatif similaire aux choix budgétaires auxquels nous faisons face. À la fin de la consultation, nous avons pu prendre des décisions en tenant compte des préoccupations des résidents.</p>
        <cite><b>- Richard Ryan,</b>  Conseiller, Plateau Mont-Royal</cite>
    </blockquote>
<!--     <div class="e-action">
        <a href="./results-plateau.html" class="b-button">View Results<i class="material-icons">arrow_forward</i></a>    
    </div> -->
</li>