<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(../images/testimonials/bernard-gagnon.jpg)" alt="Richard Ryan"></div>
        <p>Grâce à l’outil Budget Citoyen, nos citoyens étaient en mesure de mettre leurs choix en perspective en voyant instantanément comment leurs décisions affectent le budget. La rétroaction obtenue a été inestimable pour nous aider à planifier les dépenses de l’année prochaine. Nous croyons fermement aux bienfaits de la participation citoyenne et ces nouveaux outils ont été un excellent moyen pour nous de rester connecté.</p>
        <cite><strong>- Bernard Gagnon,</strong> Mayor, Saint-Basile-le-Grand</cite>
    </blockquote>
</li>