<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(../images/testimonials/jason-darrah.jpg" alt=""></div>
        <p>À l’exception des élections, aucune autre activité au sein du gouvernement municipal n’a autant d’impact sur la vie de notre municipalité que le processus budgétaire annuel. La Ville d’Edmonton s’efforce de promouvoir l’ouverture gouvernementale et l’engagement citoyen, et Budget Citoyen nous a aidé à atteindre cet objectif.</p>
        <cite><b>- Jason Darrah,</b> Directeur des Communications Publiques, Ville d’Edmonton</cite>
    </blockquote>
    <!-- <div class="e-action">
        <a class="b-button" href="./results-edmonton.html">View Results<i class="material-icons">arrow_forward</i></a>    
    </div> -->
</li>