<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(./images/testimonials/bernard-gagnon.jpg)" alt="Richard Ryan"></div>
        <p>Thanks to the Citizen Budget tool, our voters were able to put their choices in perspective by instantly seeing how their decisions affected our bottom line. The resulting feedback has been invaluable in helping us plan next year’s spending. We strongly believe in being responsive to the public’s views and these new tools have been a great way for us to stay connected.</p>
        <cite><strong>- Bernard Gagnon,</strong> Mayor, Town of Saint-Basile-le-Grand</cite>
    </blockquote>
</li>
