<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <div class="e-picture" style="background-image:url(./images/testimonials/jason-darrah.jpg" alt=""></div>
        <p>Apart from the civic election, no other activity in municipal government has as much impact on the life of our city than the annual budget process. The City of Edmonton strives for an open government where citizen engagement is of paramount importance, and Citizen Budget has helped us advance this goal.</p>
        <cite><strong>- Jason Darrah,</strong> Director of Public Communications, City of Edmonton</cite>
    </blockquote>
    <!-- <div class="e-action">
        <a class="b-button" href="./results-edmonton.html">View Results<i class="material-icons">arrow_forward</i></a>
    </div> -->
</li>
