<li class="e-testimonial-item">
    <blockquote class="b-wrapper">
        <!-- <div class="e-picture" style="background-image:url(./images/testimonials/bernard-gagnon.jpg)" alt="Richard Ryan"></div> -->
        <p>Our goal was to create a more integrated, transparent, and accountable budget planning process. Through various public engagement opportunities and use of our online Citizen Budget, residents were informed, engaged, and brought into the budget process early - this valuable public feedback was then considered by City Council prior to their debate and approval of the 2016 Budget.</p>
        <cite><strong>- Carla Blumers,</strong> Director of Communications, City of Saskatoon</cite>
    </blockquote>
</li>