html,
body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  color: #333; }

body {
  background-color: white; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

p,
h1,
h2,
h3,
td,
th,
blockquote {
  margin: 0;
  font-weight: normal;
  line-height: 1.5; }

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  margin: 0;
  list-style-type: none; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.b-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.m-italic {
  font-style: italic; }

.m-display-none {
  display: none; }

.m-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  display: none;
  z-index: 10; }
  #overlay.m-active {
    display: block; }

.b-button, .b-top-nav .e-link {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  background-color: #eb6354;
  cursor: pointer; }
  @media (max-width: 767px) {
    .b-button, .b-top-nav .e-link {
      display: block;
      width: 100%; } }
  .b-button > .material-icons, .b-top-nav .e-link > .material-icons {
    vertical-align: -5px;
    margin-left: 10px; }

.b-button:hover, .b-top-nav .e-link:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }

.b-button.m-disabled, .b-top-nav .m-disabled.e-link {
  pointer-events: none;
  display: none; }

.b-button.m-large, .b-top-nav .m-large.e-link {
  padding: 15px 50px;
  color: white;
  font-weight: 400;
  font-size: 24px; }

.b-top-nav {
  background-color: rgba(12, 49, 100, 0.95);
  color: white;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.4s ease; }
  .b-top-nav.m-active {
    max-height: 1000px;
    transition: all 0.4s ease; }
  .b-top-nav .e-logo {
    font-size: 22px;
    color: white;
    font-weight: 300;
    line-height: 1;
    float: left;
    opacity: 1;
    vertical-align: bottom;
    padding: 15px 15px 15px 25px; }
    @media (max-width: 1024px) {
      .b-top-nav .e-logo {
        display: block;
        float: none; } }
  .b-top-nav .e-menu-trigger {
    padding: 15px;
    display: block;
    transition: all 0.4s ease;
    transition-delay: .7s; }
    @media (min-width: 1025px) {
      .b-top-nav .e-menu-trigger {
        display: none; } }
  .b-top-nav .e-link {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer; }
    @media (max-width: 1024px) {
      .b-top-nav .e-link {
        display: block;
        padding: 34px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(0, 69, 135, 0.95);
        position: relative;
        transition: all 0.4s ease; } }
    .b-top-nav .e-link:hover {
      background-color: #eb6354; }
  .b-top-nav .m-french {
    font-size: 14px;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.4); }
    .b-top-nav .m-french:hover {
      color: white; }
  .b-top-nav .m-open-north {
    padding: 12px 10px 8px;
    margin-right: 20px;
    overflow: hidden; }
    .b-top-nav .m-open-north img {
      max-height: 30px;
      opacity: .4; }
    .b-top-nav .m-open-north:hover img {
      opacity: 1; }
  .b-top-nav .e-menu-right {
    float: right; }

.b-top-nav.m-active .e-menu-trigger {
  background-color: #0c3164;
  transition: all 0.4s ease; }

.b-top-nav.m-active .e-link {
  top: 0;
  transition: all 0.4s ease; }

.b-half,
.b-one-third,
.b-one-quarter {
  display: inline-block;
  margin: 0 -2px;
  vertical-align: top; }
  @media (max-width: 767px) {
    .b-half,
    .b-one-third,
    .b-one-quarter {
      display: block;
      width: calc(100vw - 40px) !important;
      padding-bottom: 10px;
      padding-top: 10px; } }

.b-half {
  width: 50%; }

.b-one-third {
  width: 33%; }

.b-one-quarter {
  width: 25%; }

.b-footer {
  padding: 30px 20px 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }
  @media (min-width: 768px) {
    .b-footer {
      min-height: 740px; } }
  @media (min-width: 1025px) {
    .b-footer {
      min-height: auto; } }
  .b-footer h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: white; }
  .b-footer h3 {
    margin-bottom: 20px;
    font-weight: 200; }
  .b-footer p {
    font-family: "Signika", sans-serif; }
  .b-footer .e-footer-column {
    padding-right: 20px; }
  @media (max-width: 767px) {
    .b-footer .e-footer-column.m-sections {
      display: none; } }
  @media (min-width: 1025px) {
    .b-footer .e-footer-column.m-about {
      padding-right: 70px; } }
  @media (min-width: 1025px) {
    .b-footer .e-footer-column.m-contact {
      padding-left: 60px; } }
  .b-footer .e-footer-column.m-contact a {
    color: white; }
  .b-footer a,
  .b-footer span,
  .b-footer p {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
    color: gray; }
  .b-footer a:hover {
    color: white; }

.b-sponsor {
  background-color: #006;
  padding: 10px;
  text-align: center; }
  .b-sponsor img {
    max-width: 200px; }

.b-testimonial-section {
  padding: 55px 20px 35px;
  background-color: #00abaf;
  text-align: center;
  overflow-y: hidden; }
  .b-testimonial-section .slick-arrow {
    position: absolute;
    top: 28%;
    z-index: 1;
    background-color: transparent;
    border: 0;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: transparent; }
    .b-testimonial-section .slick-arrow:focus {
      outline: 0; }
    .b-testimonial-section .slick-arrow:before, .b-testimonial-section .slick-arrow:after {
      color: rgba(255, 255, 255, 0.2);
      font-size: 100px;
      transition: all 0.4s ease; }
    .b-testimonial-section .slick-arrow:hover:before, .b-testimonial-section .slick-arrow:hover:after {
      color: rgba(255, 255, 255, 0.4);
      transition: all 0.4s ease; }
  .b-testimonial-section .slick-prev {
    left: 0; }
    .b-testimonial-section .slick-prev:before {
      content: 'keyboard_arrow_left'; }
  .b-testimonial-section .slick-next {
    right: 0; }
    .b-testimonial-section .slick-next:after {
      content: 'keyboard_arrow_right'; }
  .b-testimonial-section .e-testimonial-list {
    padding: 0; }
  .b-testimonial-section .e-testimonial-item {
    margin: 0;
    color: white;
    vertical-align: top;
    width: calc(100vw - 40px);
    padding: 20px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-right: auto; }
    .b-testimonial-section .e-testimonial-item p {
      font-family: "Signika", sans-serif; }
    @media (max-width: 1024px) {
      .b-testimonial-section .e-testimonial-item {
        margin: 20px 0; } }
    .b-testimonial-section .e-testimonial-item .e-picture {
      border-radius: 50%;
      overflow: hidden;
      width: 200px;
      height: 200px;
      border: 3px solid white;
      margin: 0 auto;
      vertical-align: middle;
      float: right;
      background-size: cover; }
      @media (max-width: 767px) {
        .b-testimonial-section .e-testimonial-item .e-picture {
          float: none;
          margin-bottom: 30px; } }
      @media (min-width: 768px) {
        .b-testimonial-section .e-testimonial-item .e-picture {
          margin-left: 60px; } }
    .b-testimonial-section .e-testimonial-item blockquote {
      text-align: right; }
      @media (max-width: 767px) {
        .b-testimonial-section .e-testimonial-item blockquote {
          text-align: left; } }
    .b-testimonial-section .e-testimonial-item p {
      font-weight: 100;
      font-size: 21px; }
    .b-testimonial-section .e-testimonial-item cite {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      display: inline-block; }
    .b-testimonial-section .e-testimonial-item .e-action {
      margin-top: 20px;
      clear: both;
      text-align: center; }
      .b-testimonial-section .e-testimonial-item .e-action .b-button, .b-testimonial-section .e-testimonial-item .e-action .b-top-nav .e-link, .b-top-nav .b-testimonial-section .e-testimonial-item .e-action .e-link {
        background-color: #004587; }

.b-page-section, .b-home-section, .b-results-section, .b-benefits-section {
  padding: 40px 20px; }
  @media (max-width: 767px) {
    .b-page-section, .b-home-section, .b-results-section, .b-benefits-section {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .b-page-section .e-section-title, .b-home-section .e-section-title, .b-results-section .e-section-title, .b-benefits-section .e-section-title {
    text-align: center;
    color: #004587;
    font-size: 52px;
    padding-top: 20px;
    margin-bottom: 20px; }
  .b-page-section .e-section-body, .b-home-section .e-section-body, .b-results-section .e-section-body, .b-benefits-section .e-section-body {
    margin: 40px 0; }
    @media (max-width: 767px) {
      .b-page-section .e-section-body, .b-home-section .e-section-body, .b-results-section .e-section-body, .b-benefits-section .e-section-body {
        margin: 10px 0; } }

.b-home-section h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 50px; }

.b-home-landing {
  padding-top: 180px;
  padding-bottom: 40px;
  color: white;
  background-color: #004587;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .b-home-landing {
      padding-bottom: 80px; } }
  .b-home-landing .e-video-bg {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    opacity: .6;
    display: none; }
    @media (min-width: 1025px) {
      .b-home-landing .e-video-bg {
        min-width: 1125px;
        display: block; } }
  .b-home-landing .e-site-title {
    position: relative;
    z-index: 10; }
  .b-home-landing h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 1; }
  .b-home-landing .e-tagline {
    margin: 50px auto;
    text-align: center;
    font-weight: 300; }
    @media (max-width: 767px) {
      .b-home-landing .e-tagline {
        font-size: 18px; }
        .b-home-landing .e-tagline br {
          display: none; } }
  @media (max-width: 767px) {
    .b-home-landing .e-controls > .b-button, .b-home-landing .b-top-nav .e-controls > .e-link, .b-top-nav .b-home-landing .e-controls > .e-link {
      width: 90%;
      margin-bottom: 10px; } }
  @media (min-width: 768px) {
    .b-home-landing .e-controls > .b-button, .b-home-landing .b-top-nav .e-controls > .e-link, .b-top-nav .b-home-landing .e-controls > .e-link {
      width: 240px;
      margin: 20px 10px 0; } }

.b-section-divider {
  padding: 30px 20px;
  text-align: center;
  color: white;
  font-size: 32px;
  background-color: #00abaf; }
  .b-section-divider h2 {
    font-size: 20px;
    font-weight: 200; }
    @media (min-width: 768px) {
      .b-section-divider h2 {
        font-size: 30px; } }
  .b-section-divider h3 {
    font-size: 24px;
    font-weight: 200;
    margin: 0; }
    @media (min-width: 768px) {
      .b-section-divider h3 {
        font-size: 28px; } }

.b-overview {
  padding: 70px 20px;
  text-align: center; }
  .b-overview p {
    font-family: "Signika", sans-serif; }
  .b-overview .e-section-row {
    position: relative; }
  .b-overview .e-circle {
    display: inline-block;
    height: 140px;
    width: 140px;
    border: 1px solid #004587;
    border-radius: 50%;
    background-color: white;
    color: #2e4187;
    overflow: hidden;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); }
  .b-overview .e-overview-item.m-active {
    position: relative; }
    .b-overview .e-overview-item.m-active .e-circle {
      position: relative;
      z-index: 10;
      transform: scale(1.2);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
    .b-overview .e-overview-item.m-active .e-tooltip {
      opacity: 1;
      pointer-events: auto; }
  .b-overview .e-tooltip {
    position: absolute;
    padding: 0;
    z-index: 1;
    left: -28vh;
    width: 50vw;
    top: 70px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #004587; }
    .b-overview .e-tooltip h3 {
      margin: 0;
      color: white;
      padding-top: 100px;
      padding-bottom: 15px;
      background-color: #00abaf; }
    .b-overview .e-tooltip .e-content {
      padding: 30px; }
    .b-overview .e-tooltip p {
      text-align: left;
      color: white;
      font-weight: 100;
      list-style: disc;
      padding-left: 20px; }
    .b-overview .e-tooltip p:only-child {
      text-align: center; }
    .b-overview .e-tooltip p:only-child:before {
      display: none; }
  .b-overview p {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: #2c3c85;
    position: relative; }
  .b-overview p:before {
    content: '';
    width: 0;
    height: 0;
    left: 0;
    top: 8px;
    border-left: 6px solid rgba(255, 255, 255, 0.4);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute; }
  .b-overview .b-one-third {
    margin-bottom: 30px; }
  .b-overview .m-modules {
    background-image: url(images/icons/modules.png); }
  .b-overview .m-customizable {
    background-image: url(images/icons/customizable.png); }
  .b-overview .m-hosting {
    background-image: url(images/icons/cloud.png); }
  .b-overview .m-branding {
    background-image: url(images/icons/white-label.png); }
  .b-overview .m-tracking {
    background-image: url(images/icons/tracking.png); }
  .b-overview .m-support {
    background-image: url(images/icons/support.png); }
  .b-overview .m-responsive {
    background-image: url(images/icons/responsive.png); }
  .b-overview .m-accessibility {
    background-image: url(images/icons/accessibility.png);
    background-position: -3px 8px; }
  .b-overview .m-security {
    background-image: url(images/icons/security.png);
    background-position: 4px 5px; }

.b-about-section p {
  margin-bottom: 15px; }

.b-about-section .e-screenshot-group {
  text-align: center; }

.b-about-section .e-screenshot {
  max-width: 35%;
  box-shadow: 2px 2px 8px rgba(153, 153, 153, 0.8);
  padding: 10px;
  margin: 1.5%; }
  @media (max-width: 767px) {
    .b-about-section .e-screenshot {
      max-width: 100%;
      margin: 0 10px; } }

.b-home-features, .b-benefits-list {
  padding: 70px 20px;
  background-color: #004587; }
  .b-home-features .e-section-title, .b-benefits-list .e-section-title {
    color: white; }
  .b-home-features h3.e-section-title, .b-benefits-list h3.e-section-title {
    color: white;
    font-size: 28px; }
  @media (min-width: 768px) {
    .b-home-features .b-half:nth-of-type(odd), .b-benefits-list .b-half:nth-of-type(odd) {
      padding-right: 80px; } }
  .b-home-features li, .b-benefits-list li {
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    letter-spacing: .5px;
    line-height: 1.5; }
    @media (max-width: 1024px) {
      .b-home-features li, .b-benefits-list li {
        margin-left: 40px; } }
    .b-home-features li > i, .b-benefits-list li > i {
      position: absolute;
      left: -40px;
      color: #00abaf; }

.b-cities {
  width: 100%;
  text-align: center; }
  .b-cities .e-cities-wrapper {
    text-align: center; }
  .b-cities .e-city {
    vertical-align: middle;
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    margin: 0 50px; }
    @media (max-width: 767px) {
      .b-cities .e-city {
        margin: 0 10px; } }
    .b-cities .e-city > img {
      width: 100%; }

.b-benefits-landing h2 {
  text-align: center;
  color: #004587;
  font-size: 40px;
  margin: 20px 0 10px; }
  @media (min-width: 1025px) {
    .b-benefits-landing h2 {
      margin-top: 60px; } }

.b-benefits-list p {
  font-family: "Signika", sans-serif;
  margin-bottom: 65px;
  color: white;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: .5px;
  line-height: 1.5;
  text-align: center; }

.b-results-landing, .b-benefits-landing {
  padding-top: 90px;
  padding-bottom: 60px; }
  .b-results-landing .e-city-logo, .b-benefits-landing .e-city-logo {
    text-align: center;
    padding: 40px 0 60px; }
    .b-results-landing .e-city-logo figcaption, .b-benefits-landing .e-city-logo figcaption {
      display: none; }
  .b-results-landing p, .b-benefits-landing p {
    color: #666;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.6;
    margin: 0 15px; }

.b-results-page .b-testimonial-section .e-action {
  display: none; }

.b-graph {
  text-align: center;
  padding: 60px 56px; }
  .b-graph:nth-child(2), .b-graph:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.05); }
  .b-graph .e-graph-data {
    font-size: 60px;
    text-align: center;
    color: #004587; }
    .b-graph .e-graph-data .e-percentage {
      font-size: 0.6em; }
  .b-graph p {
    margin-top: 20px;
    font-size: 20px; }
  .b-graph.m-text-only p {
    font-size: 24px;
    margin: 0; }

.b-contact {
  padding: 70px 0; }
  .b-contact .b-wrapper {
    max-width: 600px; }
  .b-contact h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-contact h3 {
    font-size: 26px;
    margin-bottom: 40px;
    text-align: center; }
  .b-contact p {
    margin-bottom: 15px; }
  .b-contact form {
    padding: 0;
    margin: 50px auto;
    font-family: "Signika", sans-serif; }
  .b-contact input:not([type="submit"]), .b-contact textarea {
    width: 100%;
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px solid #00abaf;
    margin-bottom: 20px;
    font-size: 18px; }
  .b-contact input:focus,
  .b-contact textarea:focus {
    border-color: #eb6354;
    font-family: "Signika", sans-serif;
    color: #333; }
  .b-contact textarea {
    height: 300px;
    margin-top: 30px;
    border: 1px solid #00abaf;
    resize: none; }
  .b-contact input[type="submit"] {
    border: 0;
    font-family: "Signika", sans-serif;
    padding: 10px 30px;
    float: right; }
  .b-contact textarea:focus, .b-contact input:focus {
    outline: 0; }
  .b-contact input::-webkit-input-placeholder,
  .b-contact textarea::-webkit-input-placeholder {
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input:-moz-placeholder,
  .b-contact textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input::-moz-placeholder,
  .b-contact textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input:-ms-input-placeholder,
  .b-contact textarea:-ms-input-placeholder {
    color: #004587;
    font-family: "Signika", sans-serif; }
