{% extends "_base-fr.html" %}

{% block content %}
<div class="b-benefits">
    <div class="b-benefits-section b-benefits-landing">
        <div class="b-wrapper">
            <h2>Avantages d’une consultation budgétaire en ligne</h2>
            <p>Traditionnellement, les gouvernements ont tenu des consultations publiques pour obtenir les commentaires des résidents sur les budgets, les lois et les projets. Bien qu’elles soient bénéfiques pour la communauté, les consultations traditionnelles comportent d’importants désavantages. Une consultation publique typique est dispendieuse et peut s’étendre sur plusieurs mois. Les taux de participation sont souvent bas et les réunions attirent principalement des groupes aux intérêts bien définis qui ne représentent pas toujours les besoins de la majorité des citoyens. C’est là que les outils en ligne entrent en jeu.</p>
            <p>Les tendances de l’utilisation du web sont favorables à une approche en ligne. La vaste majorité des gens étant désormais branchés, les consultations budgétaires en ligne sont de plus en plus séduisantes en Amérique du Nord et ailleurs.</p>
        </div>
    </div>

    <div class="b-benefits-list">
        <div class="b-wrapper">
            <p>Amener vos consultations budgétaires en ligne comporte plusieurs avantages pour vous, <br> votre équipe et vos résidents:</p>

            <ul class="b-half">
                <li><i class="material-icons">check</i> Plus grande transparence du processus de planification du budget</li>
                <li><i class="material-icons">check</i> Facilitation des discussions à l’interne sur les avantages de l’engagement en ligne lorsque votre équipe collabore pour mettre sur pied le projet</li>
                <li><i class="material-icons">check</i> Réponses regroupées et analysées, permettant ainsi de gagner du temps en évitant de devoir faire le tri des formulaires papier</li>
                <li><i class="material-icons">check</i> Rentabilité accrue par rapport aux réunions en personne</li>
                <li><i class="material-icons">check</i> Portée de la consultation élargie au-delà des groupes d’intérêts pour rejoindre la communauté entière, ce qui se traduit par une augmentation exponentielle de la participation des résidents</li>
                <li><i class="material-icons">check</i> Meilleures décisions grâce à de meilleures données</li>
                <li><i class="material-icons">check</i> Participation facile pour les personnes âgées, les professionnels, les personnes vivant avec un handicap physique, les chefs de familles monoparentales et les jeunes</li>
            </ul>
            <ul class="b-half">
                <li><i class="material-icons">check</i> Richesse d’informations : grâce à la consultation budgétaire en ligne, vous avez la possibilité d’offrir à vos résidents un portrait juste et clair des coûts reliés aux différents services et des contraintes budgétaires auxquelles votre municipalité fait face</li>
                <li><i class="material-icons">check</i> Possibilité pour les résidents de participer à leur propre rythme, de partout</li>
                <li><i class="material-icons">check</i> Processus plus juste et plus exhaustif : contrairement aux consultations traditionnelles où le temps de parole de chacun est limité, le système en ligne permet aux participants d’émettre leur opinion sur chaque priorité budgétaire</li>
                <li><i class="material-icons">check</i> Source illimitée d’occasions pour éduquer vos résidents sur vos programmes et services, ainsi que sur les coûts et compromis qui y sont associés</li>
                <li><i class="material-icons">check</i> Disponible en plusieurs langues étrangères afin de rejoindre les minorités linguistiques de votre population</li>
                <li><i class="material-icons">check</i> Possibilité de partager ensuite les résultats avec vos résidents</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
