{% extends "_base-fr.html" %}

{% block title %}Demandez une démonstration{% endblock %}

{% block content %}
    <div class="b-contact">
        <div class="b-wrapper">
            <h2>Demandez une démonstration</h2>
            <h3>1-888-750-4980<br/>info@opennorth.ca</h3>
            <p>Nous serions heureux de prévoir une démonstration pour votre équipe. Nos webinaires se déroulent en ligne et par téléphone grâce à un logiciel de partage d’écran, permettant à votre équipe de suivre la présentation ensemble ou de divers postes de travail.</p>
            <p>En 30 à 60 minutes, vous apprendrez comment la technologie et les fonctionnalités innovatrices de Budget Citoyen peuvent améliorer significativement vos consultations budgétaires. Bien sûr, nous en profiterons pour répondre à toutes vos questions.</p>
            <p>Un webinaire ne vous engage naturellement à rien, et vous ne subirez aucune sollicitation non désirée par la suite.</p>

            <form method="POST" action="https://formspree.io/info@opennorth.ca">
                <input type="text" name="name" placeholder="Nom*" title="Veuillez remplir ce champ" required/>
                <input type="email" name="email" placeholder="Courriel*" title="Veuillez remplir ce champ" required/>
                <input type="text" name="phone" placeholder="Téléphone"/>
                <input type="text" name="organization" placeholder="Organisation*" title="Veuillez remplir ce champ" required/>
                <textarea name="message" placeholder="Message"></textarea>
                <input type="submit" class="b-button" value="Envoyer">
            </form>
        </div>
    </div>
{% endblock %}
