html,
body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  color: #333; }

body {
  background-color: white; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

p,
h1,
h2,
h3,
td,
th,
blockquote {
  margin: 0;
  font-weight: normal;
  line-height: 1.5; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  margin: 0;
  list-style-type: none; }

.b-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.m-italic {
  font-style: italic; }

.m-display-none {
  display: none; }

.m-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.b-button, .b-top-nav .e-link {
  display: inline-block;
  padding: 10px 40px 10px 50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  background-color: #eb6354;
  cursor: pointer; }
  .b-button > .material-icons, .b-top-nav .e-link > .material-icons {
    vertical-align: -5px;
    margin-left: 10px; }

.b-button:hover, .b-top-nav .e-link:hover {
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.8); }

.b-top-nav {
  padding: 20px;
  background-color: #004587;
  color: white;
  text-align: center; }
  .b-top-nav .e-logo {
    font-size: 22px;
    color: white;
    font-weight: 300;
    line-height: 1;
    float: left; }
  .b-top-nav .e-link {
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: transparent; }
    .b-top-nav .e-link:hover {
      background-color: #eb6354; }

.b-half,
.b-one-quarter {
  display: inline-block;
  margin: 0 -2px;
  vertical-align: top; }

.b-half {
  width: 50%; }

.b-one-third {
  width: 33%; }

.b-one-quarter {
  width: 25%; }

.b-footer {
  padding: 30px 20px 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }
  .b-footer h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.1); }
  .b-footer h3 {
    margin-bottom: 20px;
    font-weight: 200; }
  .b-footer .e-footer-column {
    padding-right: 20px; }
  .b-footer a,
  .b-footer span,
  .b-footer p {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
    color: gray; }
  .b-footer a:hover {
    color: white; }

.b-testimonials {
  padding: 55px 20px 35px;
  background-color: #00abaf;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll; }
  .b-testimonials .e-testimonial-list {
    width: auto;
    white-space: nowrap;
    padding: 0; }
  .b-testimonials .e-testimonial {
    margin: 20px 0 0;
    color: white;
    vertical-align: top;
    width: 100vw;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-right: auto; }
    .b-testimonials .e-testimonial .e-picture {
      border-radius: 50%;
      overflow: hidden;
      width: 200px;
      height: 200px;
      border: 3px solid white;
      margin-left: 60px;
      vertical-align: middle;
      float: right;
      background-size: cover; }
    .b-testimonials .e-testimonial blockquote {
      text-align: right; }
    .b-testimonials .e-testimonial p {
      font-weight: 100;
      font-size: 21px; }
    .b-testimonials .e-testimonial cite {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      display: inline-block; }
    .b-testimonials .e-testimonial .e-action {
      margin-top: 20px;
      clear: both;
      text-align: center; }
      .b-testimonials .e-testimonial .e-action .b-button, .b-testimonials .e-testimonial .e-action .b-top-nav .e-link, .b-top-nav .b-testimonials .e-testimonial .e-action .e-link {
        background-color: #004587; }

.b-home-section, .b-results-section {
  padding: 40px 0; }
  .b-home-section .e-section-title, .b-results-section .e-section-title {
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-home-section h3, .b-results-section h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 50px; }
  .b-home-section .e-section-body, .b-results-section .e-section-body {
    margin: 40px 0; }

.b-home-landing {
  padding-top: 80px;
  color: white;
  background-color: #004587;
  text-align: center; }
  .b-home-landing h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    line-height: 1; }
  .b-home-landing .e-tagline {
    max-width: 435px;
    margin: 30px auto;
    text-align: center;
    font-weight: 300; }
  .b-home-landing .e-controls > .b-button, .b-home-landing .b-top-nav .e-controls > .e-link, .b-top-nav .b-home-landing .e-controls > .e-link {
    margin: 20px 20px 0; }

.b-section-divider {
  padding: 30px 20px;
  text-align: center;
  color: white;
  font-size: 32px;
  background-color: #00abaf; }
  .b-section-divider h2 {
    font-size: 30px;
    font-weight: 200; }

.b-overview {
  padding: 70px 20px;
  text-align: center; }
  .b-overview .e-circle {
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 1px solid #004587;
    border-radius: 50%;
    background-color: white;
    color: #2e4187;
    overflow: hidden; }
  .b-overview p {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: #2c3c85; }
  .b-overview .b-one-quarter {
    margin-bottom: 40px; }

.b-about-section .e-screenshot {
  max-width: 90%;
  box-shadow: 2px 2px 8px rgba(153, 153, 153, 0.8); }

.b-home-features {
  padding: 70px 20px;
  background-color: #004587; }
  .b-home-features .e-section-title {
    color: white; }
  .b-home-features li {
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    letter-spacing: .5px; }
    .b-home-features li > i {
      position: absolute;
      left: -40px;
      color: #00abaf; }

.b-cities {
  width: 100%;
  overflow-x: scroll; }
  .b-cities .e-cities-wrapper {
    white-space: nowrap; }
  .b-cities .e-city {
    vertical-align: middle;
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    margin: 0 30px; }
    .b-cities .e-city > img {
      width: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .6; }
    .b-cities .e-city:hover > img {
      opacity: 1;
      -webkit-filter: none;
      filter: none; }

/*# sourceMappingURL=styles.css.map */
