html,
body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  color: #333; }

body {
  background-color: white; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

p,
h1,
h2,
h3,
td,
th,
blockquote {
  margin: 0;
  font-weight: normal;
  line-height: 1.5; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  margin: 0;
  list-style-type: none; }

.b-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.m-italic {
  font-style: italic; }

.m-display-none {
  display: none; }

.m-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.b-button, .b-top-nav .e-link {
  display: inline-block;
  padding: 10px 40px 10px 50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  background-color: #eb6354;
  cursor: pointer; }
  .b-button > .material-icons, .b-top-nav .e-link > .material-icons {
    vertical-align: -5px;
    margin-left: 10px; }

.b-button:hover, .b-top-nav .e-link:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }

.b-button.m-disabled, .b-top-nav .m-disabled.e-link {
  pointer-events: none;
  display: none; }

.b-top-nav {
  padding: 20px;
  background-color: rgba(0, 69, 135, 0.95);
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .b-top-nav .e-logo {
    font-size: 22px;
    color: white;
    font-weight: 300;
    line-height: 1;
    float: left;
    opacity: .5;
    vertical-align: bottom;
    padding: 5px; }
  .b-top-nav .e-link {
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: transparent; }
    .b-top-nav .e-link:hover {
      background-color: #eb6354; }

.b-half,
.b-one-third,
.b-one-quarter {
  display: inline-block;
  margin: 0 -2px;
  vertical-align: top; }

.b-half {
  width: 50%; }

.b-one-third {
  width: 33%; }

.b-one-quarter {
  width: 25%; }

.b-footer {
  padding: 30px 20px 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }
  .b-footer h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.1); }
  .b-footer h3 {
    margin-bottom: 20px;
    font-weight: 200; }
  .b-footer .e-footer-column {
    padding-right: 20px; }
  .b-footer a,
  .b-footer span,
  .b-footer p {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
    color: gray; }
  .b-footer a:hover {
    color: white; }

.b-testimonial-section {
  padding: 55px 20px 35px;
  background-color: #00abaf;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll; }
  .b-testimonial-section .e-testimonial-list {
    width: auto;
    white-space: nowrap;
    padding: 0; }
  .b-testimonial-section .e-testimonial-item {
    margin: 0;
    color: white;
    vertical-align: top;
    width: 100vw;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-right: auto; }
    .b-testimonial-section .e-testimonial-item .e-picture {
      border-radius: 50%;
      overflow: hidden;
      width: 200px;
      height: 200px;
      border: 3px solid white;
      margin-left: 60px;
      vertical-align: middle;
      float: right;
      background-size: cover; }
    .b-testimonial-section .e-testimonial-item blockquote {
      text-align: right; }
    .b-testimonial-section .e-testimonial-item p {
      font-weight: 100;
      font-size: 21px; }
    .b-testimonial-section .e-testimonial-item cite {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      display: inline-block; }
    .b-testimonial-section .e-testimonial-item .e-action {
      margin-top: 20px;
      clear: both;
      text-align: center; }
      .b-testimonial-section .e-testimonial-item .e-action .b-button, .b-testimonial-section .e-testimonial-item .e-action .b-top-nav .e-link, .b-top-nav .b-testimonial-section .e-testimonial-item .e-action .e-link {
        background-color: #004587; }

.b-page-section, .b-home-section, .b-results-section {
  padding: 40px 0; }
  .b-page-section .e-section-title, .b-home-section .e-section-title, .b-results-section .e-section-title {
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-page-section .e-section-body, .b-home-section .e-section-body, .b-results-section .e-section-body {
    margin: 40px 0; }

.b-home-section h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 50px; }

.b-graph {
  text-align: center;
  padding: 0 56px; }
  .b-graph .e-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border: 3px solid #eb6354;
    color: #004587; }
    .b-graph .e-circle .e-graph-data {
      font-size: 60px;
      text-align: center;
      margin-top: 62px; }
      .b-graph .e-circle .e-graph-data .e-percentage {
        font-size: 0.6em; }
  .b-graph p {
    margin-top: 20px; }

.b-graphs-section.m-negative {
  background-color: #004587; }
  .b-graphs-section.m-negative .e-section-title {
    color: white; }
  .b-graphs-section.m-negative .e-circle {
    background-color: white; }
  .b-graphs-section.m-negative p {
    color: #cccccc; }

.b-home-landing {
  padding-top: 120px;
  color: white;
  background-color: #004587;
  text-align: center; }
  .b-home-landing h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    line-height: 1; }
  .b-home-landing .e-tagline {
    max-width: 435px;
    margin: 30px auto;
    text-align: center;
    font-weight: 300; }
  .b-home-landing .e-controls > .b-button, .b-home-landing .b-top-nav .e-controls > .e-link, .b-top-nav .b-home-landing .e-controls > .e-link {
    margin: 20px 20px 0; }

.b-section-divider {
  padding: 30px 20px;
  text-align: center;
  color: white;
  font-size: 32px;
  background-color: #00abaf; }
  .b-section-divider h2 {
    font-size: 30px;
    font-weight: 200; }

.b-overview {
  padding: 70px 20px;
  text-align: center; }
  .b-overview .e-circle {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid #004587;
    border-radius: 50%;
    background-color: white;
    color: #2e4187;
    overflow: hidden;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); }
    .b-overview .e-circle:hover {
      transition: all 0.4s ease;
      transform: scale(1.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .b-overview p {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: #2c3c85; }
  .b-overview .b-one-quarter {
    margin-bottom: 30px; }
  .b-overview .m-pricing {
    background-image: url(../images/icons/pricing.png); }
  .b-overview .m-modules {
    background-image: url(../images/icons/modules.png); }
  .b-overview .m-customizable {
    background-image: url(../images/icons/customizable.png); }
  .b-overview .m-hosting {
    background-image: url(../images/icons/cloud.png); }
  .b-overview .m-accuracy {
    background-image: url(../images/icons/accuracy.png); }
  .b-overview .m-branding {
    background-image: url(../images/icons/white-label.png); }
  .b-overview .m-tracking {
    background-image: url(../images/icons/tracking.png); }
  .b-overview .m-participant-features {
    background-image: url(../images/icons/participant.png); }
  .b-overview .m-support {
    background-image: url(../images/icons/support.png); }
  .b-overview .m-demographics {
    background-image: url(../images/icons/demographics.png); }
  .b-overview .m-languages {
    background-image: url(../images/icons/languages.png);
    background-position: center 10px; }
  .b-overview .m-security {
    background-image: url(../images/icons/security.png);
    background-position: 4px 5px; }

.b-about-section p {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.6; }
.b-about-section .e-screenshot {
  max-width: 90%;
  box-shadow: 2px 2px 8px rgba(153, 153, 153, 0.8); }

.b-home-features {
  padding: 70px 20px;
  background-color: #004587; }
  .b-home-features .e-section-title {
    color: white; }
  .b-home-features h3.e-section-title {
    color: rgba(255, 255, 255, 0.4);
    font-size: 28px; }
  .b-home-features .b-half:nth-of-type(odd) {
    padding-right: 80px; }
  .b-home-features li {
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    letter-spacing: .5px;
    line-height: 1.5; }
    .b-home-features li > i {
      position: absolute;
      left: -40px;
      color: #00abaf; }

.b-cities {
  width: 100%;
  overflow-x: scroll; }
  .b-cities .e-cities-wrapper {
    white-space: nowrap; }
  .b-cities .e-city {
    vertical-align: middle;
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    margin: 0 30px; }
    .b-cities .e-city > img {
      width: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .6; }
    .b-cities .e-city:hover > img {
      opacity: 1;
      -webkit-filter: none;
      filter: none; }

.b-results-landing {
  padding-top: 90px;
  padding-bottom: 60px; }
  .b-results-landing .e-city-logo {
    max-width: 100%;
    padding-right: 120px; }
  .b-results-landing .e-header {
    text-align: left; }
    .b-results-landing .e-header h2 {
      font-size: 28px; }
    .b-results-landing .e-header h3 {
      font-size: 20px;
      font-weight: 300; }
  .b-results-landing .e-header.m-hidden {
    display: none; }
  .b-results-landing p {
    color: #666;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.6; }

.b-contact {
  padding: 70px 0; }
  .b-contact .b-wrapper {
    max-width: 600px; }
  .b-contact h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-contact form {
    padding: 0;
    margin: 50px auto;
    font-family: "Signika", sans-serif; }
  .b-contact input:not([type="submit"]), .b-contact textarea {
    width: 100%;
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px solid #00abaf;
    margin-bottom: 20px;
    font-size: 18px; }
  .b-contact input:focus,
  .b-contact textarea:focus {
    border-color: #eb6354;
    font-family: "Signika", sans-serif;
    color: #333; }
  .b-contact textarea {
    height: 300px;
    margin-top: 30px;
    border: 1px solid #00abaf;
    resize: none; }
  .b-contact input[type="submit"] {
    border: 0;
    font-family: "Signika", sans-serif;
    padding: 10px 30px;
    float: right; }
  .b-contact textarea:focus, .b-contact input:focus {
    outline: 0; }
  .b-contact input::-webkit-input-placeholder,
  .b-contact textarea::-webkit-input-placeholder {
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input:-moz-placeholder,
  .b-contact textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input::-moz-placeholder,
  .b-contact textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #004587;
    font-family: "Signika", sans-serif; }
  .b-contact input:-ms-input-placeholder,
  .b-contact textarea:-ms-input-placeholder {
    color: #004587;
    font-family: "Signika", sans-serif; }

/*# sourceMappingURL=styles.css.map */
