html,
body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif; }

body {
  background-color: white; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

p,
h1,
h2,
h3,
td,
th,
blockquote {
  margin: 0;
  font-weight: normal;
  line-height: 1.5; }

ul,
li {
  margin: 0;
  list-style-type: none; }

.b-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.m-italic {
  font-style: italic; }

.m-display-none {
  display: none; }

.m-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.b-top-nav {
  padding: 20px;
  color: white;
  text-align: center; }
  .b-top-nav .e-logo {
    font-size: 22px;
    color: white;
    font-weight: 300;
    line-height: 1;
    float: left; }
  .b-top-nav .e-link {
    padding: 5px 25px;
    margin: 0;
    font-size: 18px;
    color: white;
    font-weight: 300; }
    .b-top-nav .e-link:hover {
      background-color: #eb6354; }

body > footer {
  padding: 30px 20px 60px;
  background-color: #333;
  color: white;
  text-align: center; }
  body > footer h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.1); }
  body > footer .b-one-quarter {
    display: inline-block;
    width: 24%;
    min-width: 235px;
    margin-bottom: 30px;
    vertical-align: top; }
  body > footer a, body > footer span {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
    color: #ccc; }

.b-testimonials {
  padding: 55px 20px 35px;
  background-color: #00abaf;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll; }
  .b-testimonials .e-testimonial-list {
    width: auto;
    white-space: nowrap;
    padding: 0; }
  .b-testimonials .e-testimonial {
    margin: 0;
    color: white;
    vertical-align: top;
    width: 100vw;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-right: auto; }
    .b-testimonials .e-testimonial .e-picture {
      width: 200px;
      height: 200px;
      border: 3px solid white;
      border-radius: 50%;
      margin-right: 60px;
      vertical-align: middle;
      float: left; }
    .b-testimonials .e-testimonial blockquote {
      text-align: left; }
    .b-testimonials .e-testimonial p {
      font-weight: 100;
      font-size: 21px; }
    .b-testimonials .e-testimonial cite {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      display: inline-block; }
    .b-testimonials .e-testimonial .e-action {
      margin-top: 20px;
      clear: both; }
  .b-testimonials .e-button {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #004587; }
  .b-testimonials .m-center {
    text-align: center; }

.b-video-bg .b-top-nav {
  background-color: transparent; }

.b-video-bg {
  position: relative;
  max-height: 80vh;
  overflow: hidden; }
  .b-video-bg > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-color: #004587; }

.b-home-section-1 {
  padding: 80px 20px 60px;
  color: white; }
  .b-home-section-1 h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    line-height: 1; }
  .b-home-section-1 h2 {
    max-width: 435px;
    margin: 30px auto;
    text-align: center;
    font-weight: 300; }
  .b-home-section-1 div {
    text-align: center; }
  .b-home-section-1 .e-button {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 30px 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #eb6354; }

.b-home-section-2 {
  padding: 30px 20px;
  text-align: center;
  color: white;
  font-size: 32px;
  background-color: #00abaf; }

.b-overview {
  padding: 70px 20px;
  text-align: center; }
  .b-overview h2 {
    margin-bottom: 70px;
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-overview .b-one-quarter {
    display: inline-block;
    width: 235px;
    margin-bottom: 30px;
    vertical-align: top;
    text-align: center; }
  .b-overview .e-circle {
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 1px solid #004587;
    border-radius: 50%;
    background-color: white;
    color: #2e4187;
    overflow: hidden; }
  .b-overview p {
    margin-top: 20px;
    text-align: center;
    font-size: 19px;
    color: #2c3c85; }

.b-home-section-4 {
  padding: 30px 20px;
  text-align: center;
  background-color: #00abaf; }
  .b-home-section-4 .e-button {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #eb6354; }

.b-about-section {
  padding: 70px 20px; }
  .b-about-section h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-about-section h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 50px; }
  .b-about-section .b-half {
    display: inline-block;
    width: 49%;
    min-width: 280px;
    vertical-align: top;
    text-align: center; }
  .b-about-section p {
    color: #333;
    text-align: left;
    font-weight: 100;
    font-size: 18px; }

.b-home-section-7 {
  padding: 70px 20px; }
  .b-home-section-7 h2 {
    margin-bottom: 70px;
    text-align: center;
    color: #004587;
    font-size: 52px; }

.b-home-section-8 {
  padding: 70px 20px;
  background-color: #004587; }
  .b-home-section-8 h2 {
    margin-bottom: 70px;
    text-align: center;
    color: white;
    font-size: 52px; }
  .b-home-section-8 ul {
    display: inline-block;
    width: 49%;
    min-width: 280px;
    vertical-align: top; }
  .b-home-section-8 li {
    margin-bottom: 5px;
    color: white;
    font-size: 18px; }
  .b-home-section-8 .e-button {
    display: inline-block;
    padding: 10px 50px;
    margin: 20px 30px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #eb6354; }
  .b-home-section-8 .m-center {
    text-align: center; }

.b-results-section-1 {
  padding: 100px 20px;
  background-color: white; }
  .b-results-section-1 .b-half {
    display: inline-block;
    width: 49%;
    min-width: 280px;
    vertical-align: top; }
  .b-results-section-1 h2 {
    font-size: 52px; }
  .b-results-section-1 h3 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: 300;
    color: #60a3af; }
  .b-results-section-1 p {
    line-height: 25px;
    color: #666; }

.b-results-section-2 {
  padding: 55px 20px;
  background-color: #00abaf;
  text-align: center; }
  .b-results-section-2 .e-testimonial {
    display: inline-block;
    width: 70%;
    margin: 0 40px;
    font-size: 28px;
    color: white;
    line-height: 35px;
    vertical-align: middle; }
    .b-results-section-2 .e-testimonial cite {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300; }
  .b-results-section-2 .e-picture {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px 0;
    border: 3px solid white;
    border-radius: 50%;
    vertical-align: middle; }

.b-results-section-3 {
  padding: 100px 20px;
  background-color: #3c5591;
  text-align: center; }
  .b-results-section-3 h2 {
    margin-bottom: 50px;
    font-size: 52px;
    color: white;
    text-align: center; }
  .b-results-section-3 .b-one-third {
    display: inline-block;
    width: 280px;
    margin-bottom: 30px;
    vertical-align: top;
    text-align: center; }
  .b-results-section-3 .b-one-quarter + h2 {
    margin-top: 100px; }
  .b-results-section-3 .e-circle {
    display: inline-block;
    height: 245px;
    width: 245px;
    border: 3px solid #de6c53;
    border-radius: 50%;
    background-color: white;
    color: #2e4187;
    overflow: hidden; }
    .b-results-section-3 .e-circle div {
      font-size: 80px;
      margin: 40px 0 20px;
      text-align: center; }
    .b-results-section-3 .e-circle p {
      text-align: center; }

.b-contact {
  padding: 70px 0; }
  .b-contact h2 {
    margin-bottom: 70px;
    text-align: center;
    color: #004587;
    font-size: 52px; }
  .b-contact form {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto; }
  .b-contact input, .b-contact textarea {
    width: 100%;
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px solid #00abaf;
    margin-bottom: 20px;
    font-size: 18px; }
  .b-contact textarea {
    height: 300px;
    margin-top: 30px;
    border: 1px solid #00abaf;
    resize: none; }
  .b-contact textarea:focus, .b-contact input:focus {
    outline: 0; }
  .b-contact input::-webkit-input-placeholder,
  .b-contact textarea::-webkit-input-placeholder {
    color: #004587; }
  .b-contact input:-moz-placeholder,
  .b-contact textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #004587; }
  .b-contact input::-moz-placeholder,
  .b-contact textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #004587; }
  .b-contact input:-ms-input-placeholder,
  .b-contact textarea:-ms-input-placeholder {
    color: #004587; }

/*# sourceMappingURL=styles.css.map */
