.b-benefits-landing {
    @extend .b-results-landing;

    h2 {
        text-align: center;
        color: $blue;
        font-size: 40px;
        margin: 20px 0 10px;
        @include breakpoint($desktop) { margin-top: 60px; }
    }
}


.b-benefits-list {
    @extend .b-home-features;

    p {
        font-family: $display-font;
        margin-bottom: 65px;
        color: white;
        font-size: 24px;
        font-weight: 200;
        letter-spacing: .5px;
        line-height: 1.5;
        text-align: center;
    }
}

