.b-contact {
    padding: 70px 20px;

    .b-wrapper {
        max-width: 600px;
    }

    h2 {
        margin-bottom: 10px;
        text-align: center;
        color: $blue;
        font-size: 52px;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 40px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
    }

    form {
        padding: 0;
        margin: 50px auto;
        font-family: "Signika", sans-serif;
    }

    input:not([type="submit"]), textarea {
        width: 100%;
        padding: 5px 15px;
        border: 0;
        border-bottom: 1px solid $teal;
        margin-bottom: 20px;
        font-size: 18px;
    }

    input:focus,
    textarea:focus {
        border-color: $orange;
        font-family: "Signika", sans-serif;
        color: $text-color;
    }

    textarea {
        height: 300px;
        margin-top: 30px;
        border: 1px solid $teal;
        resize: none;
    }

    input[type="submit"] {
        border: 0;
        font-family: "Signika", sans-serif;
        padding: 10px 30px;
        float: right;
    }

    textarea:focus, input:focus{
        outline: 0;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: $blue;
        font-family: "Signika", sans-serif;
    }

    input:-moz-placeholder, /* Firefox 18- */
    textarea:-moz-placeholder { /* Firefox 18- */
        color: $blue;
        font-family: "Signika", sans-serif;
    }

    input::-moz-placeholder,  /* Firefox 19+ */
    textarea::-moz-placeholder {  /* Firefox 19+ */
        color: $blue;
        font-family: "Signika", sans-serif;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: $blue;
        font-family: "Signika", sans-serif;
    }
}
