.b-footer {
    padding: 30px 20px 60px;
    background-color: $gray;
    color: white;
    text-align: center;

    @include breakpoint($desktop) { min-height: auto; }

    h2 {
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: $white;
    }

    h3 {
        margin-bottom: 20px;
        font-weight: 200;

        @include breakpoint($touch) { text-align: center; }
    }

    p { font-family: $display-font; }

    .e-footer-column {
        padding: 10px;
        text-align: left;
        @include breakpoint($touch) { text-align: center; }

        &.m-sections {
        @include breakpoint($mobile-only) { display: none; }
        width: 15%;
        }

        &.m-about {
            width: 42.5%;
        @include breakpoint($desktop) { padding: 10px  35px; }
        }

        &.m-contact {
            width: 16%;

            a {
                color: $white;

                @include breakpoint($touch) { text-align: center; }
            }
        }

        &.m-qc-logo {
            @include breakpoint($desktop) { margin-top: 140px; }
        }
    }

    a,
    span,
    p {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
        color: darken($white, 50);
    }

    a:hover { color: $white; }
}
