.b-home-features {
    padding: 70px 20px;
    background-color: $blue;

    .e-section-title { color: white; }

    h3.e-section-title {
        color: $white;
        font-size: 28px;
    }

    .b-half:nth-of-type(odd) {
        @include breakpoint($tablet) {
            padding-right: 80px;
        }
    }

    li {
        margin-bottom: 30px;
        color: white;
        font-size: 18px;
        font-weight: 200;
        position: relative;
        letter-spacing: .5px;
        line-height: 1.5;

        @include breakpoint($touch) {
            margin-left: 40px;
        }

        > i {
            position: absolute;
            left: -40px;
            color: $teal;
        }
    }
}