.b-overview {
    padding: 70px 20px;
    text-align: center;

    p { font-family: $display-font; }

    .e-section-row {
        position: relative;
    }

    .e-circle {
        display: inline-block;
        height: 140px;
        width: 140px;
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: white;
        color: #2e4187;
        overflow: hidden;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        @include transition;
        box-shadow: 0 0 2px $gray-05;

        @include breakpoint($desktop) {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .6;
        }
    }

    .e-overview-item {
        @include breakpoint($touch) {
            > p {
                display: none;
            }
        }
    }

    .e-overview-item.m-active {
        position: relative;

        .e-circle {
            @include breakpoint($desktop) {
                position: relative;
                z-index: 10;
                transform: scale(1.2);
                box-shadow: 0 5px 15px $gray-30;
                opacity: 1;
                -webkit-filter: none;
                filter: none;
            }
        }

        .e-tooltip {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .e-tooltip {
        position: absolute;
        padding: 0;
        z-index: 1;
        left: -17vh;
        width: 40vw;
        top: 100px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 5px 15px $gray-30;
        background-color: $white;
        border: 1px solid $blue;

        h3 {
            margin: 0;
            color: $orange;
            padding-top: 60px;
            padding-bottom: 10px;

            @include breakpoint($touch) {
                padding-top: 20px;
            }

        }

        .e-content {
            padding: 0 30px 30px;
        }

        p {
            text-align: left;
            color: $blue;
            font-weight: 100;
            list-style: disc;
            padding-left: 20px;
        }

        p:only-child { text-align: center; }
        p:only-child:before { display: none; }

        p:before {
            content: '';
            width: 0;
            height: 0;
            left: 0;
            top: 8px;
            border-left: 6px solid $orange;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            position: absolute;
        }

        @include breakpoint($touch) {
            position: static;
            z-index: 1;
            left: 0;
            width: auto;
            top: 0;
            opacity: 1;
            box-shadow: none;
            background-color: $white;
            border: none;
        }
    }

    p {
        margin-top: 10px;
        text-align: center;
        font-size: 19px;
        color: #2c3c85;
        position: relative;
    }



    .b-one-third { margin-bottom: 30px; }

    .m-modules              { background-image: url(images/icons/modules.png); }
    .m-customizable         { background-image: url(images/icons/customizable.png); }
    .m-hosting              { background-image: url(images/icons/cloud.png); }
    .m-branding             { background-image: url(images/icons/white-label.png); }
    .m-tracking             { background-image: url(images/icons/tracking.png); }
    .m-support              { background-image: url(images/icons/support.png); }
    .m-responsive           { background-image: url(images/icons/responsive.png); }
    .m-accessibility        {
        background-image: url(images/icons/accessibility.png);
        background-position: -3px 8px;
    }

    .m-security {
        background-image: url(images/icons/security.png);
        background-position: 4px 5px;
    }

}

