.b-cities {
    width: 100%;
    text-align: center;

    .e-cities-wrapper {
        text-align: center;
    }

    .e-city {
        vertical-align: middle;
        display: inline-block;
        max-width: 200px;
        padding: 10px;
        margin: 0 50px;
        @include breakpoint($mobile-only) {
            display: block;
            margin: 10px auto;
        }

        > img {
            width: 100%;
        }
    }
}

