.b-overview {
    padding: 70px 20px;
    text-align: center;

    p { font-family: $display-font; }

    .e-section-row {
        position: relative;
    }

    .e-circle {
        display: inline-block;
        height: 140px;
        width: 140px;
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: white;
        color: #2e4187;
        overflow: hidden;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        @include transition;
        box-shadow: 0 0 2px $gray-05;

        // &:hover {
        //     @include transition;
        //     transform: scale(1.2);
        //     box-shadow: 0 0 10px $gray-20;
        // }
    }

    .e-overview-item.m-active {
        position: relative;
        
        .e-circle {
            position: relative;
            z-index: 10;
            transform: scale(1.2);
            box-shadow: 0 5px 15px $gray-30;
        }

        .e-tooltip { 
            opacity: 1;
            pointer-events: auto;
        }
    }

    .e-tooltip {
        position: absolute;
        padding: 0;
        z-index: 1;
        left: -28vh;
        width: 50vw;
        top: 70px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 5px 15px $gray-30;
        background-color: $blue;

        h3 {
            margin: 0;
            color: $white;
            padding-top: 100px;
            padding-bottom: 15px;
            background-color: $teal;
        }

        .e-content {
            padding: 30px;
        }

        p {
            text-align: left;
            color: $white;
            font-weight: 100;
            list-style: disc;
            padding-left: 20px;
        }

        p:only-child { text-align: center; }
        p:only-child:before { display: none; }
    }

    p {
        margin-top: 10px;
        text-align: center;
        font-size: 19px;
        color: #2c3c85;
        position: relative;
    }

    p:before {
        content: '';
        width: 0;
        height: 0;
        left: 0;
        top: 8px;
        border-left: 6px solid $white_40;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        position: absolute;

    }

    .b-one-third { margin-bottom: 30px; }

    .m-modules              { background-image: url(images/icons/modules.png); }
    .m-customizable         { background-image: url(images/icons/customizable.png); }
    .m-hosting              { background-image: url(images/icons/cloud.png); }
    .m-branding             { background-image: url(images/icons/white-label.png); }
    .m-tracking             { background-image: url(images/icons/tracking.png); }
    .m-support              { background-image: url(images/icons/support.png); }
    .m-responsive           { background-image: url(images/icons/responsive.png); }
    .m-accessibility        { 
        background-image: url(images/icons/accessibility.png); 
        background-position: -3px 8px;
    }

    .m-security { 
        background-image: url(images/icons/security.png); 
        background-position: 4px 5px;
    }

}

