.b-about-section {
    p {
        margin-bottom: 15px;
    }
    .e-screenshot-group { text-align: center; }
    .e-screenshot {
        max-width: 35%;
        box-shadow: 2px 2px 8px lighten($gray, 60);
        padding: 10px;
        margin: 1.5%;

        @include breakpoint($mobile-only) {
            max-width: 100%;
            margin: 0 10px;
        }
    }
}