.b-section-divider {
    padding: 30px 20px;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: $teal;

    h2 {
        font-size: 20px;
        font-weight: 200;

        @include breakpoint($tablet) {
            font-size: 30px;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 200;
        margin: 0;

        @include breakpoint($tablet) {
            font-size: 28px;
        }
    }
}
