.b-top-nav {
    background-color: $blue-30k-95;
    color: white;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 100;
    // max-height: 59px;
    // overflow: hidden;
    @include transition;


    &.m-active {
        max-height: 1000px;
        @include transition;

        .e-link {
            @include breakpoint($touch) {
                display: block;
                text-align: center;
            }
        }
    }

    .e-logo {
        font-size: 22px;
        color: $white;
        font-weight: 300;
        line-height: 1;
        float: left;
        opacity: 1;
        vertical-align: bottom;
        padding: 15px 15px 15px 25px;

        @include breakpoint($touch) { font-size: 24px; }
    }

    .e-menu-trigger {
        display: inline-block;
        padding: 15px;
        @include transition;
        transition-delay: .7s;
        line-height: 0;

        @include breakpoint($desktop) { display: none; }
    }

    .e-link {
        @extend .b-button;
        height: 52px;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 22px;
        vertical-align: middle;
        background-color: transparent;
        cursor: pointer;

        @include breakpoint($touch) {
            display: none;
            height: auto;
            padding: 34px 20px;
            border-bottom: 1px solid $white-10;
            background-color: $blue-95;
            position: relative;
            // top: -4000px;
            @include transition;
        }

        &:hover { background-color: $orange; }
    }

    .m-french {
        font-size: 14px;
        margin-left: 40px;
        color: $white-40;

        &:hover { color: $white; }
    }

    .m-open-north {
        padding: 11px 10px 8px;
        margin-right: 20px;
        overflow: hidden;

        img {
            max-height: 30px;
            opacity: .4;
        }

        &:hover img {
            opacity: 1;
        }
    }

    .e-menu-right {
        float: right;

        @include breakpoint($touch) {
            display: none;
        }
    }

    // @include breakpoint($touch) {
    //     .e-link:nth-child(2) { transition-delay: .6s;}
    //     .e-link:nth-child(3) { transition-delay: .5s;}
    //     .e-link:nth-child(4) { transition-delay: .4s;}
    //     .e-link:nth-child(5) { transition-delay: .3s;}
    //     .e-link:nth-child(6) { transition-delay: .2s;}
    //     .e-link:nth-child(7) { transition-delay: .1s;}
    // }
}

.b-top-nav.m-active {
    .e-menu-trigger {
        background-color: $blue-30k;
        @include transition;
        // transition-delay: 0;
    }
    .e-link {
        top: 0;
        @include transition;
    }

    // @include breakpoint($touch) {
    //     .e-link:nth-child(2) { transition-delay: .1s;}
    //     .e-link:nth-child(3) { transition-delay: .2s;}
    //     .e-link:nth-child(4) { transition-delay: .3s;}
    //     .e-link:nth-child(5) { transition-delay: .4s;}
    //     .e-link:nth-child(6) { transition-delay: .5s;}
    //     .e-link:nth-child(7) { transition-delay: .6s;}
    // }
}
