<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Citizen Budget{% endblock %}</title>
        <link rel="stylesheet" href="static/assets/slick.css"/>
        <link rel="stylesheet" href="static/styles/styles.css"/>
        <link href='https://fonts.googleapis.com/css?family=Signika:400,300,600,700|Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        {% block nav %}
            <header class="b-top-nav">
                <nav class="b-wrapper">
                    <span class="e-menu-trigger js-menu-trigger"><i class="material-icons">menu</i></span>
                    <a href="./index.html" class="e-logo"><b>CITIZEN</b>BUDGET</a>
                    <a href="./index.html#about" class="e-link">About</a>
                    <a href="./index.html#overview" class="e-link">Overview</a>        
                    <a href="./benefits.html" class="e-link">Benefits</a>
                    <a href="./index.html#features" class="e-link">Features</a>
                    <a href="./contact.html" class="e-link">Contact</a>
                </nav>
            </header>
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="b-footer">
            <div class="b-wrapper">
                <h2><b>CITIZEN</b>BUDGET</h2>

                <div class="b-one-quarter e-footer-column">
                    <h3>Sections</h3>

                    <a href="">Features</a>
                    <a href="">About</a>
                    <a href="">Testimonials</a>
                    <a href="">Pricing</a>
                    <a href="">Who's Using</a>
                </div>

                <div class="b-one-quarter e-footer-column">
                    <h3>Demos</h3>

                    <a href="">Investment Budget</a>
                    <a href="">Utility Fees</a>
                    <a href="">User Fees and Waste Levies</a>
                    <a href="">Funding Sources</a>
                    <a href="">Who's Using</a>
                </div>

                <div class="b-one-quarter e-footer-column">
                    <h3>About</h3>
                    <p><strong>Open North</strong> is a Canadian <br>not-for-profit organisation that specializes in open data and developing online tools to promote public participation and transparency.</p>
                </div>

                <div class="b-one-quarter e-footer-column">
                    <h3>Contact</h3>

                    <span>OpenNorth</span>
                    <a href="mailto:info@opennort.ca">info@opennort.ca</a>
                    <span>1 888 750 4980</span>
                    <span>5445 Avenue de Gaspé #602</span>
                    <span>Montreal, QC H2T 3B3</span>
                </div>
            </div>
        </footer>
        <div id="overlay"></div>
        <script src="./static/assets/jquery-2.1.4.min.js"></script>
        <script src="./static/assets/slick.min.js"></script>
        <script src="./static/scripts.js"></script>
    </body>
</html>
