{% extends "_base.html" %}

{% block nav %}
<header class="b-top-nav">
    <nav class="b-wrapper">
        <a href="#about" class="e-link">About</a>
        <a href="#overview" class="e-link">Overview</a>        
        <a href="./benefits.html" class="e-link">Benefits</a>
        <a href="#features" class="e-link">Features</a>
        <a href="./contact.html" class="e-link">Contact</a>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="b-benefits">
    <div class="b-wrapper">
        <p>Traditionally, governments have held public consultations to solicit feedback on budgets, laws and projects. While these processes are beneficial to the community, traditional consultations have significant limitations. A typical public consultation can be costly and stretch over many months. They are often poorly attended and can mainly attract vocal groups with specific interests who may not represent the average citizen's needs. This is where digital tools come into play.</p>
        <p>Trends in Internet use are favorable to an online approach. With the vast majority of people now online, the trend towards online budget engagement is gaining considerable momentum.</p>
        <p>Moving your budget consultations online has multiple benefits for you, your team and your residents:</p>

        <ul>
            <li>Brings greater transparency for your budget planning process</li>
            <li>Facilitates an internal discussion on the benefits of online engagement as your team works together in designing the tool</li>
            <li>Far more cost-effective than in-person meetings/workshops</li>
            <li>Broadens the consultation beyond special interest groups to the entire community, resulting in an exponential increase in resident participation over public meetings</li>
            <li>Lets you make better decisions with better data</li>
            <li>Allows seniors, busy professionals, single parents and youth to participate</li>
            <li>Information-rich. With an online budget consultation, you have an opportunity to give residents a clear picture of how much different services cost and of the budgetary constraints your municipality faces Residents can participate on their own time, from anywhere, at their own pace</li>
            <li>Online budget consultations also facilitate a more fair and comprehensive process. Unlike a traditional consultation, where each speaker’s time is limited, an online system lets participants voice their views on each budget priority</li>
            <li>Provides limitless educational opportunities for your residents on your programs and services and associated costs and tradeoffs</li>
            <li>All responses aggregated and analyzed for you, saving staff time on sorting through print responses</li>
            <li>Available in any language to help you reach under-represented segments</li>
            <li>Provides an opportunity to share results subsequently with your residents</li>
        </ul>
    </div>
    
</div>
{% endblock %}