{% extends "_base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
    <div class="b-contact">
        <div class="b-wrapper">
            <h2>Contact</h2>
            <p>Contact us to find out how Citizen Budget can transform your budget consultations: We'll respond to you immediately!</p>
            <form>
                <input type="text" name="name" placeholder="Name*" required/>
                <input type="email" name="email" placeholder="Email*" required/>
                <input type="text" name="phone" placeholder="Phone"/>
                <input type="text" name="organization" placeholder="Organization"/>
                <textarea name="message" placeholder="Message"></textarea>
                <input type="submit" class="b-button" value="Send">
            </form>
        </div>
    </div>
{% endblock %}
