{% extends "base.html" %}

{% block title %}Results{% endblock %}
<div class="b-video-bg">
{% block nav %}
    
{% endblock %}

{% block content %}
    <div class="b-video-bg">
        <video autoplay loop poster="polina.jpg" id="bgvid">
            <source src="static/videos/home.webm" type="video/webm">
            {# <source src="polina.mp4" type="video/mp4"> #}
        </video>
        <header class="b-top-nav">
            <nav class="b-wrapper">
                <a href="" class="e-link">About</a>
                <a href="" class="e-link">Overview</a>
                <a href="" class="e-link">Request a Demo</a>
                <a href="" class="e-link">Features</a>
                <a href="" class="e-link">Contact</a>
            </nav>
        </header>
        <div class="b-home-section-1">
            <div class="b-wrapper">
                <h1><b>CITIZEN</b><br/>BUDGET</h1>
                
                <h2>
                    Customizable, cloud-based platform that helps organizations to
                    educate and involve citizens in the budget process.
                </h2>

                <div>
                    <span class="e-button">DEMO <i class="material-icons">arrow_forward</i></span>
                    <span class="e-button">QUOTE <i class="material-icons">arrow_forward</i></span>
                </div>

            </div>
        </div>
    </div>

    <div class="b-home-section-2">
        <div class="b-wrapper">Cutting-edge online budget consultations</div>
    </div>

    <div class="b-home-section-3">
        <div class="b-wrapper">
            <h2>Overview</h2>

            <div class="b-one-quarter">
                <div class="e-circle"></div>
                <p>Multiple languages</p>
            </div>

            <div class="b-one-quarter">
                <div class="e-circle"></div>
                <p>White label option</p>
            </div>

            <div class="b-one-quarter">
                <div class="e-circle"></div>
                <p>Different types of questions</p>
            </div>

            <div class="b-one-quarter">
                <div class="e-circle"></div>
                <p>Custom features</p>
            </div>
        </div>
    </div>

    <div class="b-home-section-4">
        <div class="b-wrapper"><span class="e-button">SIGNUP FOR A WEBINAR</span></div>
    </div>

    <div class="b-home-section-5">
        <div class="b-wrapper">
            <h2>About</h2>

            <div class="b-half">
            </div>

            <div class="b-half">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div class="b-home-section-6">
        <blockquote class="b-wrapper">
            <div class="e-testimonial">
                <p>
                    Thanks to this unique tool citizens can engage in a
                    educational exercise similar to the budget choice we face.
                </p>

                <cite><b>- Luc Ferrandez,</b> Plateau Mont-Royal Mayor</cite>
            </div>

            <div class="e-picture"></div>

            <div class="m-center">
                <span class="e-button">VIEW RESULTS</span>
            </div>
        </blockquote>
    </div>

    <div class="b-home-section-7">
        <div class="b-wrapper">
            <h2>Who's Using</h2>
        </div>
    </div>

    <div class="b-home-section-8">
        <div class="b-wrapper">
            <h2>Features</h2>

            <ul>
                <li>A single consultation</li>
                <li>2 rounds of edits</li>
                <li>Custom domain</li>
                <li>Software-as-a-service</li>
            </ul>

            <ul>
                <li>Public results page after submission</li>
                <li>Results report and full access to response data</li>
                <li>Guidance and support throughout your consultation</li>
                <li>Validation of Results to avoid repeat submission</li>
            </ul>

            <div class="m-center">
                <span class="e-button">GET A QUOTE</span>
            </div>
        </div>
    </div>
{% endblock %}
