{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
    <div class="b-contact">
        <div class="b-wrapper">
            <h2>Request a quote</h2>
            <p>Contact us for an immediate quote based on your needs. We strive to keep cutting-edge technology like Citizen Budget as widely available as possible as part of our non-profit mission of advancing transparency and citizen decision-making.</p>
            <p>We won’t spam you - promise!</p>

            <form>
                <input type="text" name="name" placeholder="Name*" required/>
                <input type="email" name="email" placeholder="Email*" required/>
                <input type="text" name="phone" placeholder="Phone"/>
                <input type="text" name="organization" placeholder="Organization"/>
                <textarea name="message" placeholder="Message"></textarea>
                <input type="submit" class="b-button" value="Send">
            </form>
        </div>
    </div>
{% endblock %}
